<configuration>
  <SCLOUDIMANAGE.COM>
    <url>https://cloudimanage.com/</url>
    <authentication>oauth2</authentication>
    <restUrl>https://cloudimanage.com/work/api/v2/</restUrl>
    <pingUrl>
    </pingUrl>
  </SCLOUDIMANAGE.COM>
  <recent>
    <server>SCLOUDIMANAGE.COM</server>
  </recent>
</configuration>